/* Imports */

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Background */

.App {
  text-align: center;
  background: url('assets/bg.gif');
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.Loading {
  text-align: center;
  background: url('assets/bg.gif');
}

/* Backgrounds */

hr {
  border: 0.5px solid #45a29e;
  width: 80%;
}

.hr2 {
  border: 0.5px solid #45a29e;
  width: 40%;
  margin-top: 20px;
}

.hr3 {
  border: 0.5px solid #45a29e;
  width: 30%;
  margin-top: -20px;
}

/* Media Queries */
@media only screen and (min-width: 769px) {
  /* Backgrounds */

  .hr3 {
    width: 10%;
  }
}
