/* Nav */

.nav {
  line-height: 70px;
  position: fixed;
  left: 2.7%;
  top: 32%;
}

.nav i {
  font-size: calc(1px + 2vmin);
  margin: 20px;
  color: #c5c6c7;
  transition: all 0.5s ease-out;
}

.nav i:hover {
  color: #66fcf1;
  transition: all 0.5s ease-out;
}

.nav2 i {
  font-size: calc(1px + 2vmin);
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Tool Tips Menu */

.tooltipM {
  display: inline-block;
  position: relative;
  text-align: center;
}

.tooltipM .rightM {
  min-width: 70px;
  line-height: 0;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 10px 20px;
  color: #c3c4c5;
  background-color: #3a7171;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.tooltipM:hover .rightM {
  visibility: visible;
  opacity: 1;
}

/* Desktop Media Queries */
@media only screen and (min-width: 769px) {
  /* Nav */

  .nav i {
    font-size: calc(0px + 2vmin);
    margin: 10px;
  }
}
